### COMMON
# If you want to have your container names resolved by netdata it needs to have access to docker group.
# To achive that just add environment variable PGID=999 to netdata container,
# where 999 is a docker group id from your host. This number can be found by running:
# grep docker /etc/group | cut -d ':' -f 3
DOCKER_PGID=998

# Set the timezone inside the container.
# The complete list can be found here: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
# eg. America/Los_Angeles
TZ=America/Los_Angeles
#
MARIADB_USER=bn_wordpress
MARIADB_DATABASE=bitnami_wordpress
MARIADB_PORT_NUMBER=3306
ALLOW_EMPTY_PASSWORD=yes
#
WORDPRESS_DATABASE_USER=bn_wordpress
WORDPRESS_DATABASE_NAME=bitnami_wordpress

### LETSENCRYPT ###
# Enable ACME (Let's Encrypt) automatic SSL.
ACME_EMAIL=slochewie@gmail.com

# Each service should have a dedicated domain or subdomain with A-records pointing to the public IP of your server.
# eg. traefik.example.com
PORTAINER_HOST=portainer.smarttech.design
# Docker stack resolvable host names
MARIADB_HOST=mariadb
# Fully resolvable host names
WORDPRESS_HOST=smarttech.design
NETDATA_HOST=netdata.smarttech.design
TRAEFIK_HOST=traefik.smarttech.design
